<div class="container">
  <h2>Weather Panel</h2>
  <div class="row align-items-start">
    <div class="col">
      <app-today></app-today>
    </div>
    <div class="col">
      <app-today></app-today>
    </div>
    <div class="col">
      <app-today></app-today>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col">
      <app-today></app-today>
    </div>
    <div class="col">
      <app-today></app-today>
    </div>
    <div class="col">
      <app-today></app-today>
    </div>
  </div>
  <div class="row align-items-end">
    <div class="col">
      <app-today></app-today>
    </div>
    <div class="col">
      <app-today></app-today>
    </div>
    <div class="col">
      <app-today></app-today>
    </div>
  </div>
</div>